/* Sets layout and font family for the body element */
body {
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	font-family: 'Courier New', Courier, monospace, sans-serif;
}

/* Sets styling for header for the header element */
header {
	background-color: #000000;
	color: #ffffff;
	display: flex;
	justify-content: space-around;
	width: 100%;
}

/* Sets styling for the scoreboard button */
.scoreboard-button {
	border: 1px solid #ffffff;
	background-color: #000000;
	color: #ffffff;
	font-family: 'Courier New', Courier, monospace, sans-serif;
	height: fit-content;
}

/* Sets the layout for the scoreboard list */
.score-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
}

/* Sets the layout and styling for main element */
main {
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	color: #000000;
}

/* Sets the layout for the start container */
.start-container {
	width: 50%;
	justify-content: center;
	text-align: center;
	line-height: 2.0;
}

/* Sets the layout for the quiz container */
.quiz-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
	padding: 20px;
	width: 70%;
	border: 2px solid #000000;
}

/* Sets layout for the answer button */
.answer-buttons button {
	width: 80%;
	padding: 10px;
	margin: 5px 0;
	text-align: center;
}

/* Adds font styling and border for all the buttons */
.start-button,
.answer-buttons button,
.submit-button,
.return-button,
.reset-button {
	border: 2px solid #000000;
	background-color: #ffffff;
	color: #000000;
	font-family: 'Courier New', Courier, monospace, sans-serif;
}

/* Sets hover effect for all the buttons (except answer button) */
.start-button:hover,
.scoreboard-button:hover,
.submit-button:hover,
.return-button:hover,
.reset-button:hover {
	cursor: grab;
	background-color: darkslateblue;
	color: #ffffff;
}

/* Sets hover effect for the answer buttons */
.answer-buttons button:hover {
	cursor: pointer;
	background-color: darkslateblue;
	color: #ffffff;
}

/* Sets margin for each section (i.e., for the different containers) */
section {
	margin: 2%;
}

/* Hide elements with the class "hide" */
.hide {
	display: none;
}