/* Sets layout and font family */
body {
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	font-family: 'Courier New', Courier, monospace, sans-serif;
}

/* Sets styling for header */
header {
	background-color: #000000;
	color: #ffffff;
	display: flex;
	justify-content: space-around;
	width:100%;
}

/* Sets styling for the scoreboard button */
.scoreboard-button {
    border: 1px solid #ffffff;
    background-color: #000000;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace, sans-serif;
	height: fit-content;
}

/* Sets styling for main section */
main {
	display: flex;
	justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
	width: 100%;
	color: #000000;
}

.quiz-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
	padding: 20px;
	width:70%;
	border: 2px solid #000000;
	
}

.answer-button button {
	width:80%;
	padding: 10px;
	margin: 5px 0;
	text-align: center;
}

/* Sets styling for the start button */
.start-button,
.button,
.submit-button,
.return-button,
.reset-button {
    border: 2px solid #000000;
    background-color: #ffffff;
    color: #000000;
    font-family: 'Courier New', Courier, monospace, sans-serif;
}

/* Sets hover effect for buttons */
.start-button:hover,
.scoreboard-button:hover,
.submit-button:hover,
.return-button:hover,
.reset-button:hover {
    cursor: grab;
	background-color:darkslateblue;
	color: #ffffff;
}

.button:hover {
	cursor: pointer;
	background-color: darkslateblue;
	color: #ffffff;
}

section {
	margin: 2%;
}

.hide {
	display: none;
}